* {
  margin: 0;
}

header {
  background-color: #333;
}

h1 {
  display: inline-block;
  color: #fff;
  font-size: 50px;
  padding: 10px 20px;
}


img {
  width: 100%;
}

.container {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 920px) {
  .container {
    display: flex; 
    flex-direction: row;
    align-items: center;
  }}


.images {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .images {
    flex-direction: column;
  }
}